<div class="reg-all">

  <div class="reg-main">

    <div class="reg-container">

      <div class="signup-content">

        <div class="reg-form">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <h2 class="reg-title">Sign up</h2>
          <div class="field">
            <%= image_tag 'noun-sign-in-2.png', class: "reg-icon" %>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'transparent' %>
          </div>

          <div class="field">
            <%= image_tag 'noun-lock-2.png', class: "reg-icon" %>
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class:"transparent"%>
          </div>

          <div class="field">
            <%= image_tag 'noun-lock-2.png', class: "reg-icon" %>
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"transparent"%>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "reg-btn" %>
          </div>
          <%= render "devise/shared/links" %>
          <% end %>
        </div>
        <div class="signin-pic">
          <%= image_tag '—Pngtree—water bottle icon - watercolor_4997726.png', class:"signin-pic"%>
        </div>
      </div>
    </div> 
  </div>
</div>