<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POS</title>
</head>
<body>
<ul id="nav-bar">
  <li><%= link_to "POS", root_path %></li>
  <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
  <li>
  <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, :method=>'delete'%>
<% else %>
    <%= link_to "login", new_user_session_path %>
<% end %>
</li>
</ul>
<div class="Container">
  <div class="Screen">

  </div>

  <div class="Categories">
    <% @items.each do |item| %>
      <button class="category-buttons" type="button"><%= item.category %></button>
    <% end %>
  </div>

  <div class="Items">
  </div>
</div>
<!--
<% @items.each do |item| %>
   <p>
     <%= item.name%>
   </p>
   <% end %>

<p>
   current user = <%=@user.email %>
</p>

  <% @users.each do |user| %>
  <p>
    <%= user.email %>
  </p> 
<% end %>
-->
</body>
</html>